#student-details-form {
  margin-top: 9vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

  background-color: #212529ad;
  border-radius: 1.5rem;
}
#submit-btn {
  color: white;
  text-decoration: none;
}
#submit-btn:hover {
  color: #212529;
  font-weight: bold;
  background-color: white;
}
